/* IMPORTS */
@import "_reset.css";

/* GENERAL STYLES *******************************************/
* {
    box-sizing: border-box;
}
body {
    color: grey;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6 {
    color: #2d2d2d;
    font-weight: 500;
}
p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: .2em;
}
a,a:visited {
    color: #4A90E2;
    outline: none;
}

/* MAIN CONTAINER ******************************************/
.main-container {
    margin: 0 auto;
    max-width: 60rem;
}

/* PROFILE */
.profile {
    padding: 6em 2em 2em;
    margin-bottom: 6em;
}
.profile .avatar {
    border-radius: 5px;
    margin-bottom: 1em;
    width: 100px;
}
.profile h2 {
    font-size: 4.2rem;
    margin-bottom: .5em;
}

/* SHOTS **************************************************/
.shots-container {
    margin-bottom: 2em;
    min-height: 500px;
}

.shots-container .shot-item {
    display: inline-block;
    margin: 20px;
    position: relative;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: calc(50% - 40px);
}
.shots-container .shot-item:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.shots-container .shot-item .item {
    border-radius: 5px;
    position: relative;
    visibility: hidden;
    width: 100%;
}

/* FOOTER **************************************************/
footer {
    border-top: 1px solid lightgrey;
    padding: 2em;
    text-align: center;
    width: 100%;
}
footer p {
    font-size: .8rem;
}

/* ANIMATIONS ***********************************************/
.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show {
    0%{opacity:0}
    100%{opacity:1}
}

/* MEDIA QUERIES *******************************************/
@media(max-width:750px) {
    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .profile h2 {
        font-size: 2.8rem;
        margin-bottom: .5em;
    }
    .shots-container .shot-item {
        display: block;
        width: calc(100% - 40px);
    }
    .shots-container .shot-item:hover {
        transform: none;
    }
}
